body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: aqua;
}

/* header */

.header {
    width: 100%;
    height: 60px;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 2;
}

.namePage {
    width: 100%;
    height: 100%;
}

.namePage>h1 {
    color: aqua;
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 13px 0 13px 70px;
}

.navMenu {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 300;
}

.navMenu>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.navMenu>ul>li {
    margin-right: 25px;
}

.link {
    text-decoration: none;
    color: aqua;
}

.link:hover {
    transition: 0.3s;
    color: white;
    position: relative;
}

.link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
}

.link:hover:before {
    transform: scaleX(1);
    transition: 0.3s;
}

/* picture */

.pictures {
    position: relative;
    width: 100%;
    height: 2900px;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
    z-index: 2;
    border: 2px solid aqua;
    box-shadow: 0 0 15px aqua;
}

.pict {
    height: 670px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.wave-canvas {
    top: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

/* picture 1 */

.text1 {
    position: relative;
    width: 30%;
    height: 60%;
    top: 20%;
    margin-left: 10%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.text1>h3 {
    margin: 15px;
    font-size: 26px;
}

.text1>p {
    margin: 20px;
    font-size: 18px;
}

.picture1 {
    position: relative;
    width: 43%;
    height: 60%;
    top: 20%;
    margin-right: 2%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.picture1>img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* picture 2 */

.pict2 {
    height: 670px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.text2 {
    position: relative;
    width: 30%;
    height: 60%;
    top: 20%;
    margin-right: 10%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.text2>h3 {
    margin: 15px;
    font-size: 26px;
}

.text2>p {
    margin: 20px;
    font-size: 18px;
}

.picture2 {
    position: relative;
    width: 43%;
    height: 60%;
    top: 20%;
    margin-left: 2%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.picture2>img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* picture 3 */

.text3 {
    position: relative;
    width: 30%;
    height: 60%;
    top: 20%;
    margin-left: 10%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.text3>h3 {
    margin: 15px;
    font-size: 26px;
}

.text3>p {
    margin: 20px;
    font-size: 18px;
}

.picture3 {
    position: relative;
    width: 43%;
    height: 60%;
    top: 20%;
    margin-right: 2%;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
}

.picture3>img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* contacts */

.contacts {
    width: 100%;
    height: 500px;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
    border: 2px solid aqua;
    box-shadow: 0 0 15px aqua;
}

.contactsHeader {
    width: 100%;
    height: 60px;
}

.contactsHeader>h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.contactsContainer {
    width: 70%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
}

.telephone {
    width: 30%;
    height: 250px;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    padding: 5px 20px;
}

.social {
    width: 30%;
    height: 250px;
    border: 2px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    padding: 5px 20px;
}

.socialLink {
    text-decoration: none;
    color: aqua;
}

.socialLink:hover {
    color: white;
    transition: 0.3s;
}

/* prize */

.prize {
    width: 100%;
    height: 600px;
    background: linear-gradient(54deg, rgba(5, 5, 5, 0.9248074229691877) 0%, rgba(3, 2, 2, 0.9220063025210083) 100%);
    border: 2px solid aqua;
    box-shadow: 0 0 15px aqua;
}

.first {
    position: relative;
    width: 70%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    top: 20px;
}

.first>h4 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    animation-name: glowing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.first>p {
    margin: 0;
    text-align: center;
    font-size: 40px;
    animation-name: glowing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.second {
    width: 70%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    margin-top: 60px;
}

.second>h4 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.second>p {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.third {
    width: 70%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: 0 0 15px aqua;
    margin-top: 60px;
}

.third>h4 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.third>p {
    margin: 0;
    text-align: center;
    font-size: 30px;
}



@keyframes glowing {
    0%, 100% {
        opacity: 0.8;
        filter: blur(0.2);
        text-shadow: 0 0 5px #00008b,
        0 0 5px #00d0ff,
        0 0 10px #00d0ff,
        0 0 15px #00d0ff,
        0 0 20px #00d0ff,
        0 0 25px #00d0ff;
    }
    30%, 70% {
        opacity: 0.2;
        filter: blur(0);
        text-shadow: none;
    }
}